<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('semantic/dist/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,800italic,700italic,600,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        {% block head %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% include '@App/default/navbar.html.twig' %}
        {% block content %}{% endblock %}

        <script src="{{ asset('vendor/dist/require.js') }}"></script>
        <script src="{{ asset('vendor/dist/underscore-min.js') }}"></script>
        <script src="{{ asset('vendor/dist/jquery.js') }}"></script>
        <script src="{{ asset('semantic/dist/semantic.min.js') }}"></script>

        <script>
            require.config({
                paths: {
                    'text': 'vendor/dist/text',
                    'gruik/edit': 'bundles/app/js/edit',
                    'gruik/note-editor': 'bundles/app/js/note-editor',
                    'gruik/note-viewer': 'bundles/app/js/note-viewer',
                    'marked': 'vendor/dist/marked',
                    'ace/ace': 'vendor/dist/ace',
                    'backbone': 'vendor/dist/backbone-min',

                    'template/edit': 'bundles/app/template/edit.html',
                    'template/note-editor': 'bundles/app/template/note-editor.html',
                    'template/note-viewer': 'bundles/app/template/note-viewer.html'
                }
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
